<% include partials/header %>

        <h1>This is a heading  </h1>

        <img src="https://cdn8.bigcommerce.com/s-ua4dd/images/stencil/1280x1280/products/18594/36798/84963__20571.1477059381.jpg?c=2&imbypass=on" />
<% include partials/footer %>